<!DOCTYPE html>
<html lang="en" class="full-height">
<head>
{{> head}}
</head>

<body>
    <header>
        {{> nav}}

        <!--Intro Section-->
        <section class="view intro-1 hm-black-strong">
            <div class="full-bg-img flex-center">
                <div class="container">
                    <ul>
                        <li>
                            <h1 class="h1-responsive font-bold wow fadeInDown" data-wow-delay="0.2s">Welcome to E-tickets Exporter</h1></li>
                        <li>
                            <p class="lead mt-4 mb-5 wow fadeInDown">Searches for electronic tickets in Gmail inbox and uploads them to Google Cloud Storage</p>
                        </li>
                        <li>
                            <a href="{{ url }}" class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay="0.2s" rel="nofollow">Sign in</a>
                            <a target="_blank" href="https://github.com/demidovsky" class="btn btn-outline-primary btn-lg wow fadeInRight" data-wow-delay="0.2s" rel="nofollow">Github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </header>

    {{> footer}}

</body>

</html>